body {
  background-image: linear-gradient(to right, black, blue);
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
  display: table;
  height: 100%;
  width: 100%;
}

header {
  border: 3px solid rgba(0, 0, 0, 0.4);
  /* background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(0, 0, 0, 0.85)
  ); */
  background-color: rgba(250, 250, 250, 0.5);
  color: whitesmoke;
  padding: 1rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

header > h1 {
  text-align: center;
}

header > h2 {
  display: flex;
  justify-content: space-around;
}

header > * {
  margin: 0;
}

li {
  display: inline;
}

.exs {
  text-decoration: none;
  background-color: rgba(0, 100, 250, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 01%;
  border-radius: 5px;
  margin: 3%;
  color: black;
  font-family: sans-serif;
  font-size: 150%;
  color: black;
  transition-duration: 0.3s;
  position: inline-block;
}

.exs:hover {
  text-decoration: underline;
  border: 1.5px solid yellow;
}

.headertp {
  font-size: 200%;
  margin: 0%;
  margin-bottom: 2%;
}

.ex {
  background-color: rgba(250, 250, 250, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  padding: 10px;
  border-radius: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: black;
  text-align: center;
}

hr {
  border: none;
  height: 3px;
  background-image: linear-gradient(to left, black, blue);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.modal > .modal-content {
  border: 2px solid white;
  border-radius: 1.5%;
  background-image: url("lousa.jpg");
  height: 60%;
  width: 60%;
  padding: 1% 5%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal > .modal-content > .introducao {
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
}

.modal > .modal-content > .introducao > h3 {
  font-style: italic;
}

.modal > .modal-content > .inputs {
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
}

.modal > .modal-content > .inputs > .submit {
  color: white;
  background-color: #777;
  padding: 1em;
}

.modal > .modal-content > hr {
  background-color: white;
  background-image: none;
  border: white;
}

.modal > .modal-content > .close {
  position: absolute;
}

@media (max-width: 520px) {
  header {
    font-size: 90%;
  }
  li {
    display: block;
    margin: 10%;
  }
}
