.Links {
  > div {
    background-color: $color4;
    margin: 3rem 1rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 125%;
    > h2 {
      padding: 1rem 0 0.5rem 0;
      text-align: center;
      color: $color1;
    }
    > ul {
      padding: 1rem 0 0.5rem 0;
      display: flex;
      justify-content: space-around;
      > li {
        cursor: pointer;
        font-size: 95%;
        color: $color2;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
