.modal-content {
  border: 2px solid white;
  border-radius: 1.5%;
  background-image: url("../images/lousa.jpg");
  background-color: #c6c6c6;
  padding: 1% 5%;
  width: auto;
  height: auto;
  margin: 0;
  .modal-header {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    h3 {
      font-style: italic;
    }
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    >*{
      margin: .5rem 0;
    }
    > .submit {
      color: white;
      background-color: #777;
    }
  }
}
